extends layout
 
block content
  h1= title
  - let items = results;
 
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch("/dog/update?id=${item._id}")`
        div(class="row-sm-2 m-1") Item #{item.dog_name}(#{item.dog_color}) is #{item.dog_age}
        button.btn(class="btn-primary ml-1", onclick=destination) Update
 
  script.
    function dispatch(path) {
      window.location.href = path;
    }