extends layout
block content
    div(class="container-fluid")
        h1= title
        - let results=[{dog_name:"tommy", dog_color:"white", dog_age:3},{dog_name:"blacky", dog_color:"black", dog_age:1},{dog_name:"rasool", dog_color:"skin", dog_age:4}]
          div(class="row")
            each form,item in results
                div(class = "col-sm-2 " onclick=`buy(${item})`) #{form.dog_name}              
                div(class = "col-sm-2 " onclick=`buy(${item})`) #{form.dog_color}                
                div(class = "col-sm-2" onclick=`buy(${item})`) #{form.dog_age}
                
    
    br
    h5= 'buy'

    div(class="container-fluid")
      each dog,index in results
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>dog #{index}: #{dog.dog_name} color:#{dog.dog_color} age:#{dog.dog_age}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }