extends layout
block content
    div(class="container-fluid")
        h1= title
        - let result = results
          div(class="row")
            each form,item in result
                div(class = "col-sm-2 " onclick=`buy(${item})`) #{form.dog_name}              
                div(class = "col-sm-2 " onclick=`buy(${item})`) #{form.dog_color}                
                div(class = "col-sm-2" onclick=`buy(${item})`) #{form.dog_age}
                
    
    br
    h5= 'buy'

    div(class="container-fluid")
      each dog,index in result
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>dog #{index}: #{dog.dog_name} color:#{dog.dog_color} age:#{dog.dog_age}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }