extends layout

block content
    h1= title
    if(toShow==null)
        h2 No instance of this detail 
    else
        - let dogid = toShow._id
        - let dog_name = toShow.dog_name
        - let dog_color = toShow.dog_color
        - let dog_age = toShow.dog_age
        div
            div.row
                div(class='dogAttr mr-3') dog ID is:
                    div #{dogid}
            div.row
                div(class='dogAttr mr-3') dog name is:
                    div #{dog_name}
            div.row
                div(class='dogAttr mr-3') dog age is:
                    div #{dog_age}
            div.row
                div(class='dogAttr mr-3') dog color is:
                    div #{dog_color}   
